<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img width="350" src="/public/img/logo-mercado-liebre.svg" alt="">
        <p>
            Lugar para poner la barra de busqueda
        </p>
        <p>
            Comprá en cuotas y sin tarjeta de crédito
        </p>
        <nav>
            <ul>
                <a href="#"><li>Ofertas</li></a>
                <a href="#"><li>Tiendas Oficiales</li></a>
                <a href="#"><li>Vender</li></a>
                <a href="#"><li>Ayuda</li></a>
            </ul>
            <ul>
                <a href="#"><li>Creá tu cuenta</li></a>
                <a href="#"><li>Ingresá</li></a>
                <a href="#"><li>Mis compras</li></a>
            </ul>
        </nav>

    </header>

    <main>
        <img src="/public/img/img-home-banner.jpg" width="350" alt="">
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="/public/img/img-cafetera-moulinex.jpg" width="350" alt="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><b>Cafetera Moulinex</b></p>

            </article>
            <article>
                <img src="/public/img/img-macbook-pro-2019.jpg" width="350" alt="">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p><b>MacBook Pro 2019</b></p>

            </article>
            <article>
                <img src="/public/img/img-samsung-galaxy-s10.jpg" width="350" alt="">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p><b>Samsung Galaxy S10</b></p>

            </article>
            <article>
                <img src="/public/img/img-tv-samsung-smart.jpg" width="350" alt="">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p><b>SmartTv Samsung 43"</b></p>

            </article>
        </section>
        <section>
            <h2>Ofertas</h2>
            <article>
                <img src="/public/img/img-cafetera-moulinex.jpg" width="350" alt="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><b>Cafetera Moulinex</b></p>

            </article>
            <article>
                <img src="/public/img/img-macbook-pro-2019.jpg" width="350" alt="">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p><b>MacBook Pro 2019</b></p>

            </article>
            <article>
                <img src="/public/img/img-samsung-galaxy-s10.jpg" width="350" alt="">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p><b>Samsung Galaxy S10</b></p>

            </article>
            <article>
                <img src="/public/img/img-tv-samsung-smart.jpg" width="350" alt="">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p><b>SmartTv Samsung 43"</b></p>

            </article>
        </section>

    </main>
    <footer>
        <section>
            <article>
                <ul>
                    <li><b>Pagá con tarjeta o en efectivo</b><br>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</li>
                    <li><b>Envío gratis desde $ 2.500</b><br>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</li>
                    <li><b>Seguridad, de principio a fin</b><br>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</li>
                    <li><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></li>
                </ul>
            </article>
        </section>

    </footer>
    
</body>
</html>